---
title: GitLab Documentation
---

<ul class="topics" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
  <% if ENV['NANOC_ENV'] == 'production' %>
    <% @config[:products].each do |name, product| %>
      <% if product[:expose] == true %>
        <li class="topic-<%= product[:slug] %>">
          <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
            <div class="wrapper">
              <h2><%= product[:full_name] %></h2>
              <p><%= product[:description] %></p>
            </div>
          </a>
        </li>
      <% end %>
    <% end %>
  <% else %>
    <% @config[:products].each do |name, product| %>
      <% if Dir.exist?("#{@config[:content_dir]}/#{product[:slug]}")%>
        <li class="topic-<%= product[:slug] %>">
          <a href="<%= @items["/#{product[:slug]}/#{product[:index_file]}"].path %>">
            <div class="wrapper">
              <h2><%= product[:full_name] %></h2>
              <p><%= product[:description] %></p>
            </div>
          </a>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>
